asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.4
django-formtools==2.5.1
django-otp==1.5.4
django-phonenumber-field==8.0.0
django-rest-framework==0.1.0
django-two-factor-auth==1.17.0
djangorestframework==3.15.2
dotenv==0.9.9
idna==3.10
pyotp==2.9.0
pypng==0.20220715.0
python-dotenv==1.0.1
qrcode==7.4.2
razorpay==1.4.2
requests==2.32.3
setuptools==75.8.1
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
phonenumbers==9.0.1
pre-commit===3.6.0
