@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  @layer utilities {
    .bg-gray-100 {
      background-color: transparent;
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('https://thumbs.dreamstime.com/b/golden-security-digital-password-lock-key-box-shopping-cart-logo-coins-golden-security-digital-password-lock-key-169463684.jpg') !important;
  background-size: cover !important;
  background-position: center;
  background: fixed;
  background: white;
}
