@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  @layer utilities {
    .bg-gray-100 {
      background-color: transparent;
    }
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRndJ5IFQdSxOS3jnAzdDXCp0Hqs3XCz3exHp91vJB9iA&s&ec=72940542') !important;
  background-repeat: no-repeat;
  background: white;
}
