@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
}

  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  @layer utilities {
    .bg-gray-100 {
      background-color: transparent;
    }
  }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('/file.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}
